[Unit]
Description=Notification queue
#After=syslog.target network.target

[Service]
User=debian
Group=debian
ExecStart=/opt/notification-queue/start.sh 127.0.0.1 8080 source
SyslogIdentifier=notification-queue
Restart=always

[Install]
WantedBy=default.target
