bidict==0.21.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cheroot==8.5.2
click==7.1.2
cryptography==3.4.6
Flask==2.2.5
Flask-SocketIO==5.0.1
idna==2.10
ipaddress==1.0.23
itsdangerous==1.1.0
jaraco.functools==3.2.1
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.7.0
pycparser==2.20
python-engineio==4.0.1
python-socketio==5.1.0
requests==2.25.1
six==1.15.0
urllib3==1.26.3
web.py==0.62
Werkzeug==1.0.1
