[Unit]
Description=Notification queue

[Service]
User=debian
Group=debian
Environment='NOTIFICATION_HOST=127.0.0.1'
Environment='NOTIFICATION_PORT=8080'
Environment='NOTIFICATION_PASSWORD=changeme'
ExecStart=/opt/notification-queue/venv/bin/notification-queue
SyslogIdentifier=notification-queue
Restart=always

[Install]
WantedBy=default.target
